.characters-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Laptop */
@media(max-width: 1200px) {
    .characters-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile */
@media(max-width: 576px) {
    .characters-wrapper {
        grid-template-columns: 1fr;
        margin-top: 32px;
        gap: 32px;
    }
}